<div class="brook-footer-area rslide" data-background="#00ce7d">
    <div class="footer-top-2">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 footer-logo-sec"> <img
                        src="../../../assets/img/logura.png" alt="Brook Images"
                        loading="lazy">
                    <ul>
                        <li>Our mission and vision aligns with a sole motto - To make your business proud. Our
                            master digital marketing strategists</li>
                    </ul>
                </div>
                <div class="col-lg-2">
                    <h6>Links</h6>
                    <ul>
                        <li><a routerLink="/">Home</a></li>
                        <li><a routerLink="/about">About Us</a></li>
                        <li><a routerLink="/blog">Blog</a></li>
                        <li><a routerLink="/privacy-policy">Privacy Policy</a></li>
                        <li><a routerLink="/terms-and-condition">Terms And Conditions</a></li>
                        <li><a routerLink="/contact">Contact Us</a></li>
                    </ul>
                </div>
                <div class="col-lg-2">
                    <h6>Portfolio</h6>
                    <ul>
                        <li><a routerLink="/logo-branding">Logo Design</a></li>
                        <li><a routerLink="/logo-branding">Branding</a></li>
                        <li><a routerLink="/web-design">Website Design</a></li>
                        <li><a routerLink="/video-animation">Video Animation</a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-2">
                    <h6>Pricing Packages</h6>
                    <ul>
                        <li><a routerLink="/all-in-1">All In 1</a>
                        </li>
                        <li><a routerLink="/logo-branding">Logo & Branding</a>
                        </li>
                        <li><a routerLink="/logo-branding">Logo Design</a></li>
                        <li><a routerLink="/web-design">HTML Website</a></li>
                        <li><a routerLink="/web-design">CMS Website</a></li>
                        <li><a routerLink="/web-design">E-Commerce</a></li>
                        <li><a routerLink="/web-design">Portal Site</a></li>
                    </ul>
                </div>
                <div class="col-lg-3">
                    <!--<h6>Newletter Subsciption</h6> <ul> <li>Sign up for free newsletters & get more Design Evelop delivered to you</li> </ul> <div class="footer-newsletter"> <input type="text" class="footer-newsletter-input" placeholder="Email"> <input type="submit" class="footer-newsletter-submit" value="Submit"> </div>-->
                    <h6>Contact Our Team</h6>
                    <ul>
                        <li class="contact-text"><i class="fas fa-phone icon" style="transform: scaleX(-1);"></i> <a
                                href="tel:929-322-1091">929-322-1091</a></li>
                        <li class="contact-text"><i class="fas fa-phone icon" style="transform: scaleX(-1);"></i> <a
                                href="tel:347-394-2571">347-394-2571</a></li>
                        <li class="contact-text"><i class="far fa-envelope icon"></i> <a
                                href="mailto:info@logura.com">info@logura.com</a></li>
                        <li class="contact-text"><i class="fas fa-map-marker-alt icon"></i> <a
                                routerLink="/contact-us">Mailing Address - 300 Cadman Plaza West One
                                Pierrepont Plaza 12th Floor Brooklyn New York 11201</a></li>
                    </ul>
                    <ul> <a routerLink=""><i
                                class="fab fa-facebook-f social"></i></a> <a
                            routerLink=""><i class="fab fa-twitter social"></i></a> <a
                            routerLink=""><i
                                class="fab fa-youtube social"></i></a> </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom-2">
        <div class="container">
            <div class="left-par"> Copyright © 2022 Logura. All rights reserved </div>
            <div class="right-par"> EASY AND SECURE PAYMENT<br> <img
                    src="../../../assets/img/partners-logo.png" loading="lazy"> </div>
        </div>
    </div>
</div>