<div id="wrapper" class="wrapper">
    <div class="rvbody">
        <main class="page-content">
            <!-- STart Slider Area -->
            <div class="revolution-slider-area slider-bg-1 slider-bg-2 rslide" data-background="#3f1084"
                style="background: url(https://ik.imagekit.io/Logura/about-page/cu-color_GDRiup-jtWW.png) center bottom; background-size: cover;">
                <div class="revolution-slider">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="inner pt--220 pb--230">
                                    <div class="col-lg-7">
                                        <h1 class="heading heading-h1 text-white font-120">Jack of All, Master of
                                            Digital And Design</h1>
                                        <div class="bkseparator--15"></div>
                                        <h2
                                            class="heading heading-h6 text-white letter-spacing-1 line-height-1-5 typewriter">
                                            Our mission and vision aligns with a sole motto - To make your business
                                            proud. Our master digital marketing strategists, Content Rookies, Logo
                                            Artists and Web Development Gurus have been stepping up the game of
                                            digitizing brands since the inception of Logura.</h2>
                                    </div>
                                    <div class="banner-carousel owl-carousel">
                                        <div class="item"> <img
                                                src="https://ik.imagekit.io/Logura/logo-branding-page/3_TjdUp_aBip.png">
                                        </div>
                                        <div class="item"> <img
                                                src="https://ik.imagekit.io/Logura/logo-branding-page/2_bopBJpP49.png">
                                        </div>
                                        <div class="item"> <img
                                                src="https://ik.imagekit.io/Logura/logo-branding-page/1_t2vfektIgW.png">
                                        </div>
                                        <div class="item"> <img
                                                src="https://ik.imagekit.io/Logura/logo-branding-page/5_fdBYfTjxub.png">
                                        </div>
                                        <div class="item"> <img
                                                src="https://ik.imagekit.io/Logura/logo-branding-page/4_s4z-LxjZBX.png">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- End Slider Area -->
            <!-- Start Portfolio Area -->
            <div class="brook-portfolio-area pb--60 pt--60 rslide" data-background="#f05874">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="brook-section-title mb--45 text-center">
                                <h2 class="heading-title text-white">Services</h2>
                                <h1 class="heading heading-h3 text-white">Attract.Aware.Convert.Retain</h1>
                                <h6 class="heading heading-h6 text-white letter-spacing-1">The four pillars of our
                                    digital branding design and strategy. We market to quench your thirst of ROI. We
                                    master the art of digital optimization and conversion.</h6>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <div class="service-tabs">
                                <div class="tab-content tab-heading" style="padding-top: 0; margin-top: -30px;">
                                    <div id="logo-branding-tab" class="tab-pane animated fadeIn active pb--30"><br>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="brook-section-title mb--15">
                                                    <h1 class="heading heading-h3 text-white">Logo And Brand Design
                                                    </h1>
                                                    <h6 class="heading heading-h6 text-white letter-spacing-1">Get
                                                        your brand noticed at the - First Sight.</h6>
                                                </div>
                                                <p class="text-white mb--10">We dwell down your industry design
                                                    standards to create a logo design that exceeds your expectations
                                                    and gets fused in your client’s thoughts.</p>
                                                <p class="text-white mb--10">Yes, that’s how we get your brand
                                                    recalled. Our innovative logo designers and edge artists are
                                                    passionate about giving your business an identity that sets the
                                                    bar of your industry.</p>
                                                <p class="text-white mb--10">We’ve been building brands since
                                                    decades and with our extensively experienced brand developers,
                                                    we are known in the industry for delivering creative designs and
                                                    campaigns that make your digital design presence roar loud.</p>
                                                <div class="mt--20"> <a
                                                        routerLink="/slogan"
                                                        class="border-btn cta">Get A Custom Logo</a> <a
                                                        href="javascript:void(0)"
                                                        onclick="$zopim.livechat.window.toggle()"
                                                        class="no-border-btn"><i
                                                            class="fas fa-comment-dots flip-mr-5"></i> Live Chat</a>
                                                </div>
                                            </div>
                                            <div class="col-md-6"> <img
                                                    src="https://ik.imagekit.io/Logura/homepage-service/service-img-lb_NRVhbBg7AMcv.png">
                                            </div>
                                        </div>
                                    </div>
                                    <div id="web-tab" class="tab-pane animated fadeIn active pb--30"><br>
                                        <div class="row">
                                            <div class="col-md-6"> <img
                                                    src="https://ik.imagekit.io/Logura/homepage-service/website02_f9w1YjHcK.png">
                                            </div>
                                            <div class="col-md-6">
                                                <div class="brook-section-title mb--15">
                                                    <h1 class="heading heading-h3 text-white">Crisp Web Development
                                                    </h1>
                                                    <h6 class="heading heading-h6 text-white letter-spacing-1">
                                                        Strong backend, beautiful front-end - Inspiring Website.
                                                    </h6>
                                                </div>
                                                <p class="text-white mb--10">We create websites with feel and zeal.
                                                    Our web development geeks hunt top layouts, beautiful custom
                                                    design and robust code to build your business website on a level
                                                    that is literally unmatched. Yes, we mean it!</p>
                                                <p class="text-white mb--10">Be it a swift user interface, stunning
                                                    visuals, clear design or rich user experience, our goal is to
                                                    make an impact on everyone who checks in. Witness an increased
                                                    conversion rate and low bounce rate with our accurate content
                                                    placement and stunning design elements.</p>
                                                <div class="mt--20"> <a
                                                        href="https://www.logura.com/brief/slogan?cname="
                                                        class="border-btn cta">Get My Website</a> <a
                                                        href="javascript:void(0)"
                                                        onclick="$zopim.livechat.window.toggle()"
                                                        class="no-border-btn"><i
                                                            class="fas fa-comment-dots flip-mr-5"></i> Live Chat</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div id="video-tab" class="tab-pane animated fadeIn active pb--30"><br>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="brook-section-title mb--15">
                                                    <h1 class="heading heading-h3 text-white">Spontaneous Video
                                                        Animation</h1>
                                                    <h6 class="heading heading-h6 text-white letter-spacing-1">Brain
                                                        works with images - Our Mantra of Video Animation.</h6>
                                                </div>
                                                <p class="text-white mb--10">Creating highly engaging videos since
                                                    forever. Our vision behind the video animation service is on
                                                    point. We create to convey. Yes, we own our words. Our animated
                                                    videos convey your business within moments and this is why we
                                                    are popular in the video animation industry.</p>
                                                <p class="text-white mb--10">We toast creativity with freedom and
                                                    garnish it with appraised colors. The result? Engaging,
                                                    interactive and impecular videos meant to chip in the eye balls
                                                    you need for your business. Let’s create an awesome video for
                                                    you.</p>
                                                <div class="mt--20"> <a
                                                        href="https://www.logura.com/brief/slogan?cname="
                                                        class="border-btn cta">Lets Get Started</a> <a
                                                        href="javascript:void(0)"
                                                        onclick="$zopim.livechat.window.toggle()"
                                                        class="no-border-btn"><i
                                                            class="fas fa-comment-dots flip-mr-5"></i> Live Chat</a>
                                                </div>
                                            </div>
                                            <div class="col-md-6"> <img
                                                    src="https://ik.imagekit.io/Logura/homepage-service/video_URVOqTdAvZ.png">
                                            </div>
                                        </div>
                                    </div>
                                    <div id="digital-tab" class="tab-pane animated fadeIn active"><br>
                                        <div class="row">
                                            <div class="col-md-6"> <img
                                                    src="https://ik.imagekit.io/Logura/homepage-service/dm3_Ls9jrVApkW0.png">
                                            </div>
                                            <div class="col-md-6">
                                                <div class="brook-section-title mb--15">
                                                    <h1 class="heading heading-h3 text-white">Viralizing Digital
                                                        Marketing</h1>
                                                    <h6 class="heading heading-h6 text-white letter-spacing-1">
                                                        Digital marketing is about the right reach - We Guarantee
                                                        It.</h6>
                                                </div>
                                                <p class="text-white mb--10">Our inspiring track record of massively
                                                    successful digital marketing campaigns is the competition for us
                                                    but guess what? We beat it by miles with every other campaign.
                                                    Be it Pay per click, SEO optimization, social media marketing,
                                                    content marketing, or content publishing, we excel all of it and
                                                    we own our words.</p>
                                                <p class="text-white mb--10">Our team of genius digital marketers
                                                    know how to skyrocket your business with the right digital
                                                    marketing strategies. Trust us and we will never let you fall.
                                                </p>
                                                <div class="mt--20"> <a
                                                        href="https://www.logura.com/brief/slogan?cname="
                                                        class="border-btn cta">Lets Get Started</a> <a
                                                        href="javascript:void(0)"
                                                        onclick="$zopim.livechat.window.toggle()"
                                                        class="no-border-btn"><i
                                                            class="fas fa-comment-dots flip-mr-5"></i> Live Chat</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="brook-portfolio-area pb--60 rslide" data-background="#FF5722" id="workflow">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="brook-section-title mb--45 text-center">
                                <h2 class="heading-title text-white">Workflow</h2>
                                <h1 class="heading heading-h3 text-white">Our 360 Degree <br>Creative Process</h1>
                                <!--<h6 class="heading heading-h6 text-white letter-spacing-1">We have set flexible pricing to meet needs of businesses of any size yet ensuring<br>quality designs. Price is what you pay value is what you get in return</h6>-->
                            </div>
                        </div>
                    </div>
                    <div class="row workflow-sec">
                        <div class="workflow-sec-container">
                            <div class="single-workflow">
                                <div class="workflow-img-2 workflow-1">
                                    <div class="workflow-number"> 01 </div> <img
                                        src="https://ik.imagekit.io/Logura/workflow-section/workprocess-1_rOum2LwSQe.png">
                                </div>
                                <h3 class="text-white">Brief</h3>
                                <p class="text-white">Good listening and intriguing questions makes our process
                                    unique. You just need to share your idea and it's our job to boost it with our
                                    decades of experience.</p>
                            </div>
                            <div class="single-workflow">
                                <div class="workflow-img-2 workflow-2">
                                    <div class="workflow-number"> 02 </div> <img
                                        src="https://ik.imagekit.io/Logura/workflow-section/workprocess-2_K8mW-PcrzXs.png">
                                </div>
                                <h3 class="text-white">Ideation</h3>
                                <p class="text-white">Our team of compassionate creative designers and brand
                                    strategists ideate and discuss on shaping up your idea into a hard hitting
                                    success.</p>
                            </div>
                            <div class="single-workflow">
                                <div class="workflow-img-2 workflow-3">
                                    <div class="workflow-number"> 03 </div> <img
                                        src="https://ik.imagekit.io/Logura/workflow-section/workprocess-3_eg9VxhyfOWfW.png">
                                </div>
                                <h3 class="text-white">Execution</h3>
                                <p class="text-white">We execute when we are more than satisfied with the future
                                    outcome of our effort. Good news - your business is about to rake in huge
                                    success with our digital design and branding services
                            </div>
                            <div class="single-workflow">
                                <div class="workflow-img-2 workflow-4">
                                    <div class="workflow-number"> 04 </div> <img
                                        src="https://ik.imagekit.io/Logura/workflow-section/website-w_fAC37uXb2lkt.png">
                                </div>
                                <h3 class="text-white">Delivery</h3>
                                <p class="text-white">We promise to deliver your project before time. Once your
                                    project is dispatched from our side, we keep track of your feedback and
                                    satisfaction till you have a wide satisfactory smile for us.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- Start Portfolio Area -->
            <!-- End Portfolio Area -->
            <!-- Start Blog Grid Area -->
            <div class="bk-blog-grid-area pb--60 rslide" data-background="#00ce7d" id="testimonials">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="brook-section-title mb--45 text-center">
                                <h2 class="heading-title text-white">Testimonials</h2>
                                <h1 class="heading heading-h3 text-white">Ring Us To Boost <br> Your Brand Awareness
                                </h1>
                                <h6 class="heading heading-h6 text-white letter-spacing-1">We are in love to boost
                                    your brand’s success with our successful effort of digital marketing services.
                                    We provide complete organic exposure and satisfied successful elements
                                    efficiently.</h6>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="testimonial-carousel-2 owl-carousel">
                                <div class="item">
                                    <div class="row">
                                        <div class="col-md-6"> <img
                                                src="https://ik.imagekit.io/Logura/testimonial/11_xrviNwoiektz.png"
                                                class="testi-img" loading="lazy" alt="testimonial image"> </div>
                                        <div class="col-md-6">
                                            <div class="testimonial-details">
                                                <h4>Jack Daniel did an excellent job.</h4>
                                                <p><i>Jack Daniel did an excellent job designing a logo for my
                                                        company. Looking forward to designing web site with him.</i>
                                                </p>
                                            </div>
                                            <div class="testimonial-person">
                                                <div class="testimonial-icon"> <img
                                                        src="https://ik.imagekit.io/Logura/testimonial/clint-1_ywW87iVkj.jpg"
                                                        loading="lazy" alt="testimonial person image"> </div>
                                                <div class="testimonial-rating">
                                                    <div class="testimonial-stars-2"> <i class="fa fa-star"></i> <i
                                                            class="fa fa-star"></i> <i class="fa fa-star"></i> <i
                                                            class="fa fa-star"></i> <i class="fa fa-star"></i>
                                                    </div>
                                                    <div class="testimonial-name-des">
                                                        <p class="name-t">Jake L</p>
                                                        <p class="des-t">Opt Manager</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="row">
                                        <div class="col-md-6"> <img
                                                src="https://ik.imagekit.io/Logura/testimonial/1_LeAeI_XMp-U.png"
                                                class="testi-img" loading="lazy" alt="testimonial image"> </div>
                                        <div class="col-md-6">
                                            <div class="testimonial-details">
                                                <h4>Best Logo Design</h4>
                                                <p><i>After researching the best logo design company for my company,
                                                        I came across this one. I must say it has been fantastic
                                                        working with Jack Daniel as he has listened to my ideas and
                                                        come up with the best product. I would recommend this
                                                        website to anyone! Im more than happy with my logo.</i></p>
                                            </div>
                                            <div class="testimonial-person">
                                                <div class="testimonial-icon"> <img
                                                        src="https://ik.imagekit.io/Logura/testimonial/clint-3_sWD_fGYUHvx.jpg"
                                                        loading="lazy" alt="testimonial person image"> </div>
                                                <div class="testimonial-rating">
                                                    <div class="testimonial-stars-2"> <i class="fa fa-star"></i> <i
                                                            class="fa fa-star"></i> <i class="fa fa-star"></i> <i
                                                            class="fa fa-star"></i> <i class="fa fa-star"></i>
                                                    </div>
                                                    <div class="testimonial-name-des">
                                                        <p class="name-t">Harvey Harris</p>
                                                        <p class="des-t">Manager</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="row">
                                        <div class="col-md-6"> <img
                                                src="https://ik.imagekit.io/Logura/testimonial/2_SCF-bcuCX.png"
                                                class="testi-img" loading="lazy" alt="testimonial image"> </div>
                                        <div class="col-md-6">
                                            <div class="testimonial-details">
                                                <h4>Great find, I'd use them again in a heartbeat!</h4>
                                                <p><i>I needed a new logo design for my small business. These guys
                                                        could not have been easier to work with and the result was
                                                        far beyond my expectation. I would absolutely use them
                                                        again!</i></p>
                                            </div>
                                            <div class="testimonial-person">
                                                <div class="testimonial-icon"> <img
                                                        src="https://ik.imagekit.io/Logura/testimonial/clint-2_1LtcB6ji43.jpg"
                                                        loading="lazy" alt="testimonial person image"> </div>
                                                <div class="testimonial-rating">
                                                    <div class="testimonial-stars-2"> <i class="fa fa-star"></i> <i
                                                            class="fa fa-star"></i> <i class="fa fa-star"></i> <i
                                                            class="fa fa-star"></i> <i class="fa fa-star"></i>
                                                    </div>
                                                    <div class="testimonial-name-des">
                                                        <p class="name-t">Sue Sasseen</p>
                                                        <p class="des-t">CEO</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- End Blog Grid Area -->
        </main>
    </div>
    <!--// Page Conttent -->
</div>