<div id="wrapper" class="wrapper">
    <div class="step-wrapper step-2"> <img src="https://www.logura.com/assets/img/steps/step-1/1.png"
            class="top-left-img"> <img src="https://www.logura.com/assets/img/steps/step-2/down.png"
            class="bottom-left-img"> <img src="https://www.logura.com/assets/img/steps/step-2/up.png"
            class="top-right-img"> <img src="https://www.logura.com/assets/img/steps/step-1/4.png"
            class="bottom-right-img">
        <div class="step-top-sec">
            <form action="https://www.logura.com/brief/colorpicker" method="get">
                <div class="center-container">
                    <div class="container">
                        <div class="steps-heading">
                            <h1 class="heading heading-h3 text-white">Pick Your Industry</h1>
                        </div>
                        <div class="step-options">
                            <div class="row">
                                <div class="col-md-2" *ngFor="let industry of industries">
                                        <input type="checkbox" name="industry[]" class="step-checkbox" value={{industry.title}} [id]="industry.id" (click)="getIndustry(industry.id)">
                                        <label class="step-label" [for]="industry.id">
                                                <div class="step-imgs">
                                                        <img [src]="industry.image">
                                                </div>
                                                <h3 class="step-heading">{{industry.title}}</h3>
                                        </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="step-footer">
                        <button class="step-submit" (click)="submitSlogan()"> Next >> </button>
                </div>
            </form>
        </div>
    </div>
    <!--// Page Conttent -->
</div>